#sign{
    margin-right: 20px;
}

 #footer {
    text-align: center;
    padding: 3px;
    color: white;
  }
#clock {
  font-size: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 10px;
  background-color: rgba(157, 255, 0, 0.253);
 
}

  
  
  
  
  